html {
    background-color:#212121;
    padding: 10px;
}

body {
    background-color: #484848;
    padding: 10px;
    margin: 0;
}

header {
    background-color: #424242;
    margin: 10px;
}

main {
    background-color:#616161;
    margin: 10px;
    padding: 30px;
}

nav {
    background-color: #757575;
    margin: 10px;
}

.main1 div {
    background-color:#a4a4a4;
    margin: 5px;
    padding: 5px;
    display: inline;
    width: 200px;
}

.main2 div {
    background-color:#a4a4a4;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 300px;
}

.main3 div {
    background-color:#a4a4a4;
    margin: 5px;
    padding: 5px;
    display: none;
    width: 200px;
}

.main4 div {
    background-color:#a4a4a4;
    margin: 5px;
    padding: 5px;
    display: block;
    width: 200px;
}