body {
    background-color: gainsboro;
}
h4 {
    background-color: aquamarine;
    color: black;
}

.DIV {
    color: brown;
}

#div1 {
    color: blue;
}
#div2 {
    color: purple;
}
#div3 {
    color: orange;
}
#div4 {
    color: rgb(17, 151, 46);
}