/* ELEMENTS */
html {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

body{
    margin: 0;
}

a {
    text-decoration: none;
    color: #2962ff;
}

/* CLASSES */

/* Header */
.header-space {
    height: 60px;
    
}
.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    height: 40px;
    padding: 10px 0 ;
    color:aliceblue;
    background-color: #212121;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}

.page-title h1 {
    margin: auto;
    font-size: 2em;
    
}

/* Nav */
.navigation {
    text-align: center;
    padding: 0;

}
.navigation li {
    display: inline-block;
    width: 20%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    font-size: 1.4rem;
    text-align: center;
    background-color: #bdbdbd;
    
}

/* Main */
main {
    background-color: #eee;
}
.img-titles {
    display: flex;
    padding: 5px;
    background-color: #eee;
    align-items: center;
    justify-content:center;
    height: 40px;
}

.img-titles p {
    
    margin: 0; 
    width: 50%;
    max-width: 800px;
    text-align: center;
    height: 50%;
    position: relative;
    align-self: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images img {
    width: 50%;
    max-width: 800px;
    align-self: center;
}

/* Footer */
.comments-title {
    text-align: center;
    position: relative;
    margin: 0;
    background-color: #eee;
    padding: 20px;
    height: 50%;
    position: relative;

}

.comment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 10px;
}

.comment img {
    width: 80px;
    align-content: flex-start
    
}

.comment p {
    width: 350px;
    text-align: center;
}



 